/**
 * Global
 */

.no-padding-left{
	padding-left:0px;
}

.no-padding-right{
	padding-right:0px;
}

/**
 * Create report page
 */
#add-incident-btn{
	width:100%;
	padding:6px 12px;
}

#create-report-submit-btn{
	
}

.form-submit-btn{
	float:right;
	margin:15px 0px;
}

/**
 * Search Report page
 */
.flag{
	width:25px;
	height:15px;
	display:inline-block;
	vertical-align: middle;
}

/**
 * Report Page
 */
.report-p{
	padding-left: 5px;
}

.report-comments{
	padding-left: 5px;
	padding-right: 5px;
}