/**
 * Global
 */

.no-padding-left{
	padding-left:0px;
}

.no-padding-right{
	padding-right:0px;
}

.message-text{
	text-align: center;
	font-size:14px;
	margin-bottom:0px;
}

/**
 * Login page
 */

.flash-msg {
	padding: 10px 0px;
	margin-top: 10px;
}

/**
 * Create report page
 */
#add-incident-btn{
	width:100%;
	padding:6px 12px;
}

#create-report-submit-btn{
	
}

.form-submit-btn{
	float:right;
	margin:15px 0px;
}

/**
 * Search Report page
 */
.flag{
	width:25px;
	height:15px;
	display:inline-block;
	vertical-align: middle;
}

/**
 * Report Page
 */
.report-p{
	padding-left: 5px;
}

.report-comments{
	padding-left: 5px;
	padding-right: 5px;
}

/**
 * User Management Panel
 */

#check-all-permissions{
	margin-bottom:20px;
}

.table-list{
	padding-left:0px;
}

.permission-list{
	padding-left:20px;
}

.permission-list > li{
	display:inline-block;
	margin-right:25px;
}

.icon-list{
	padding-left:0px;
}

.icon-list > li{
	display:inline-block;
	padding:0px 3px;
}

.edit-icon{
	cursor:pointer;
}

.del-icon{
	cursor:pointer;
	color:#EB4A4A;
}

.clickable{
	cursor:pointer;
}

.del-btn{
	padding: 0px;
}

.bg-success{
	text-align: center;
}

.bg-success > *{
	display:inline-block;
}