/**
 * Global
 */
#content{
	max-width:900px;	
}

/**
 * Login page
 */
.login-container{
	max-width:700px;
	text-align: center;
	margin:auto;
}

/**
 * Create Report page
 */

/**
 * Search Report page
 */
.search-controls{

	padding-bottom:10px;
}

.flag-list{

	padding:0px;
	margin:0px;
}