/**
 * Global
 */

label.error{
	color:red;
}

#content{
	border: 1px solid rgb(124, 124, 124);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 10px 20px 10px grey;
}

/**
 * Create reports page
 */

#add-incident-btn{

	background-color: #fff;
	border: 3px dashed #ACACAC;
	border-radius: 3px;
	color:#ACACAC;
	font-size:12px;
	text-shadow:none;
}

#add-incident-btn:hover{
	border-color:#888;
	color:#888;
}


#add-incident-btn:focus{
	outline:none;
}

/**
 * Search Reports page
 */

.search-controls{

	border-bottom:1px solid #CCC;
}

.red{
	background:rgb(214, 65, 65);
}

.yellow{
	background:rgb(255, 255, 103);
}

.flag{
	border:1px solid black;
}

/**
 * Report Page
 */
.report-p{
	font-size:16px;
}